:root {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #bcd1db;
  background-color: rgb(90, 90, 90);
}

table,
td {
  border: none;
  border-radius: 10px;
  border-spacing: 0.7rem;
  text-align: center;
  white-space: nowrap;
}

tbody:before {
  content: "@";
  display: block;
  line-height: 1px;
  text-indent: -99999px;
}

th {
  padding: 1rem;
  z-index: 1003;
}

td {
  border-radius: 3px;
  height: 2.2rem;
  width: 4rem;
}

.first-button-tr {
  margin-top: 4rem;
}

#calculator-background {
  background: linear-gradient(
    180deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(15, 15, 15, 1) 100%
  );
}

#viewfinder {
  background-color: #798d97;
  color: #2e412f;
  height: 1.2rem;
}

#viewfinder-tr {
  border-collapse: separate;
  border-spacing: 20px 35px;
}

.number-button {
  background: linear-gradient(
    180deg,
    rgba(23, 86, 115, 1) 0%,
    rgba(17, 64, 85, 1) 100%
  );
}

.especial-button {
  background: linear-gradient(
    180deg,
    rgba(160, 76, 89, 1) 0%,
    rgba(130, 60, 71, 1) 100%
  );
}

.symbol {
  background: linear-gradient(
    180deg,
    rgb(48, 138, 168) 0%,
    rgb(30, 94, 116) 100%
  );
}
